:root{
    --main-bg-color: #121212;
    --secondary-bg-color: #1d1d1d;
    --grey-color: #323232;
    --white-color: #ffffff;
    --red-color: #ef5350;
    --blue-color: #42a5f5;
    --action-color: #1e88e5;
}


body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0px;
    box-sizing: border-box;
    overflow: hidden;
}

ol, ul {
    padding-left: 30px;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

.status {
    margin-bottom: 10px;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    margin-bottom: 8px;
    width: 100px;
    height: 100px;
    background: var(--secondary-bg-color);
    border: none;
    float: left;
}

.square:hover{
    background-color: var(--grey-color);
}

.square.full{
    background-color: var(--grey-color);
}

.square:focus {
    outline: none;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px);
    width: 100vw;
    background-color: var(--main-bg-color);
    overflow: hidden;
}

.game-info {
    margin-left: 20px;
}

.game-status{
    font-size: 32px;
    font-weight: 400;
    color: var(--white-color);
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}

.game-status span{
    margin-right: 8px;
}


.game-board{
    margin-bottom: 32px;
}

.game-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 32px;
    visibility: hidden;
}

.game-actions.visible{
    visibility: visible;
}

.game-actions .game-actions-label{
    font-size: 24px;
    color: var(--white-color);
    margin-bottom: 16px;
}

.game-actions .MuiButtonBase-root{
    width: 300px;
}
